<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./bootstrap.php">
    <filter>
        <whitelist>
            <directory>/src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="ManiaCalendar PHP SDK Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>